<div class="row ">
    <div class="col-md-12 col-lg-12 col-xl-12 pl-0 pr-0">
        <div class="chart-card">
            <div class="chart-card-header">
                {{ titleText }}
                <button type="button" class="btn float-right btn-close" (click)="activeModal.dismiss('Cross click')">
                    <span class="icon-close pt-1 pl-2 pr-2 pb-1" aria-hidden="true">X</span>
                </button>
            </div>
            <div class="chart-card-body p-3">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>
