// material colors
$bg-color: #1e1f21;
$header-color: #293946;
$bg-card: #242c33;
$bg-primary: #007bff;
$bg-secondary: #293946;
$bg-opt-one: #2f4251;
$bg-opt-two: #3c617d;
$bg-opt-four: #36556f;

// border colors
$color-border-primary: #354958;

// typo colors
$font-color: #ffffff;
$color-font-secondary: #888888;
$color-font-ternary: #b9babb;
$font-danger: #e7483c;
$font-neutral: #11b72c;
$font-warning: #e78c3c;

// typo sizes
$size-font-primary: 1rem;
$size-font-secondary: 1rem;
$size-font-large: 3rem;
$size-font-header-btn: 0.9rem;
$size-font-pointer: 2.3rem;
$size-font-pointer-unit: 1.5rem;
$size-font-mid: 2.1rem;
$size-font-low: 0.8rem;

// component sizes
$header-height: 70px;
$height-chart-header: 47.78px;
$side-bar-width: 250px;
