@import 'src/scss/_variables.scss';

.header{
  background-color: $header-color;

  .browse:hover{
    color: $bg-primary;
    cursor: pointer;
  }
}

.mobileHeader {
  font-size: 16px;
}
.desktopHeader {
  font-size: 20px;
}



